@media only screen and (max-width:414px){
#container{
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.title{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -20px;
    text-align: center;
}
.pageInfo{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    width: 380px;
    margin: auto;
    font-size: 14px;
    padding-bottom: 20px;

}
.pageIndicator{
    margin-left: 8px;
}
.pageLink{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    cursor: pointer;
    color: black;
}
.filterBtn{
    display: flex;
    flex-direction: row;
    cursor: pointer;
    width: 130px;
    float: right;
    margin-top: -5px;
}
.filterIcon{
    width: 30px;
    height: 30px;
}
.titleFilter{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-left: 8px;
    margin-top: 5px;
}
.totalProducts{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.allProduducts{
    width: 100%;
    display: grid;
    grid-template-columns:50% 50%;
    grid-gap: 4px;
    margin-left: 1.5px;
}
.productCard{
    width: 200px;
    height: 350px;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.innerContainerproductCard{
    width: 200px;
}
.containerProductImage{
    width: 200px;
    height: 230px;
    overflow: hidden;
    background-image: cover;
}
.productCardImg{
    width: 100%;
    height: 100%;
}
.containerProductCardInfo{
    overflow: hidden;
    width: 200px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-top: 10px;
}
.productName{
    text-align: center;
    text-decoration: none;
    color: black;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-weight: 5px;
    width: 200px;
    height: 90px;
    font-size: 18px;
    position: absolute;

}
.productDescription{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: lighter;
    text-transform: uppercase;
    text-align: center;
    font-weight: 5px;
    width: 200px;
    font-size: 14px;
    position: absolute;

}
.price{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    font-weight: 5px;
    width: 200px;
    font-size: 15px;
    position: absolute;
    margin-top: 45px;
}
/*filter*/
#containerFilter{
    background-color: #D6D5D5;
    width: 100%;
    overflow: hidden;
    display: flex;
    display: none;
    padding-bottom: 350px;
}
.closeFilterIcon{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 50px;
    font-weight: bolder;
    color: white;
    margin-left: 350px;
}
#filterOptionOne{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}
.filterTitle{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: white;
    text-transform: uppercase;
    width: 300px;
    border-bottom: solid white 2px;
}
.filterOption{
    width: 300px;
    margin-top: -5px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

#filterOptionThree{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}
.filterOptionThree{
    width: 300px;
    margin-top: -5px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    font-size: 25px;
}
.clickedFilterOption_Active{
    color: black;
}
.hiddenFilterOptionOne{
    display: none;
}
.hiddenFilterOptionTwo{
    display: none;
}.hiddenFilterOptionThree{
    display: none;
}
/*hide product card*/
.hide{
    display: none;
    transition: all 0.5s ease-in;
}
.resetBtn{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    border: 4px solid white;
    width: 200px;
    text-align: center;
    padding: 4px;
    margin-left: 95px;
    cursor: pointer;
}
.addColour{
    color: black;
}




}